{% extends '../base.html' %}
{% block content %}

    <a href="/tweets">Back</a>

    <!-- the tweet -->
    {% include "tweets/tweet.html" %}


    <!-- comments retweets and likes -->
    {% load static %}
    <script>
        function playClickSound() {
            const audio = new Audio("{% static 'click.mp3' %}");
            audio.play();
        }
    </script>

    <!-- comments -->
    <button type="submit" id="show-comment" class="comment" onclick="showForm()">Comment</button>


    <!-- retweets -->
    <form style="display:inline" action="/tweets/retweet/{{tweet.id}}/" method="post">
        {%csrf_token%}
        <input value="{{request.path}}" name="path" hidden>
        <button type="submit" class="retweet" onclick="playClickSound()">Retweet</button>
    </form>

    <!-- likes -->
    <form style="display:inline" action="/tweets/like/{{tweet.id}}/" method="post">
        {%csrf_token%}
        <input value="{{request.path}}" name="path" hidden>
        <button type="submit" class="like" onclick="playClickSound()">Like</button>
    </form>

    <br>

    <!-- post comment -->

    <form action="/tweets/comment/{{tweet.id}}/" method="post" id="comment-form" style="display:none">
        {%csrf_token%}
        <input value="{{request.path}}" name="path" hidden>
        <input type="text" name="text"></input>
        <button type="submit" class="comment" onclick="playClickSound()">Post comment</button>
    </form>


    <!-- view comments -->
    {% for comment in tweet.comment_set.all %}
    <div class="tweet comment-box" style="margin-left: 50px">
        <p>
            <strong>Angry Person</strong>
            <small>@tinylittleman | {{ comment.date }}</small>
        </p>

        <p>{{ comment }}</p>
    </div>




    {% endfor %}

    <script>
        function showForm() {
            const form = document.getElementById("comment-form");
            if (form.style.display=="none") {
                form.style.display = "initial";
            } else {
                form.style.display = "none";
            }
        }
    </script>

{% endblock %}