<div class="tweet-card width-100">

    <!-- main content -->
    <a class="profile-link" href="{% url 'profile_public' tweet.user.id %}">
        <p>
            <strong>
                {{ tweet.user.profile.display_name }}
                {% if tweet.user.is_superuser %}
                    <i title="Admin" class="fa-solid fa-shield-halved"></i>
                {% endif %}
            </strong>
            <small>@{{ tweet.user }} | {{ tweet.date }}</small>
        </p>
    </a>

    <a class="tweet-link" href="{% url 'tweet' tweet.id %}">
        <p>{{ tweet }}</p>

        <p>
            Comments: {{ tweet.comment_set.count }}
            Retweets: {{ tweet.retweet_set.count }}
            Likes: {{ tweet.likes.count }}
        </p>
    </a>

</div>