{% extends '../base.html' %}
{% block content %}

<!-- post new tweet -->
<div class="post-tweet center width-100">
    <p class="subtitle">Post a Tweet</p>
    <form action="{% url 'post' %}" method="post">
        {%csrf_token%}
        <input class="tweet text-input" type="text" name="text" id="text" placeholder="What's happening?" maxlength="144" required>
        <button class="main" type="submit">Tweet</button>
    </form>
</div>

<br><br>

<div class="tweets-list center width-100">
<!-- view all previous tweets -->
    <p class="subtitle">View all Tweets</p>
      {% if tweets %}
          {% for tweet in tweets %}
                {% include "tweets/tweet.html" %}
          {% endfor %}
      {% else %}
          <p class="faded">No tweets found</p>
      {% endif %}
</div>

{% endblock %}