{% extends '../base.html' %}
{% block content %}

<!-- post new tweet -->
<div class="post-tweet center width-100">
    <h3 class="subtitle">Post a Tweet</h3>
    <form action="{% url 'post' %}" method="post">
        {%csrf_token%}
        <input class="tweet text-input" type="text" name="text" id="text" placeholder="What's happening?" required></input>
        <br>
        <button class="main" type="submit">Tweet</button>
    </form>
</div>

<div class="tweets-list center width-100">
<!-- view all previous tweets -->
    <h3 class="subtitle">View all Tweets</h3>
      {% if tweets %}
          {% for tweet in tweets %}
                {% include "tweets/tweet.html" %}
          {% endfor %}
      {% else %}
          <p>No tweets found :(</p>
      {% endif %}
</div>

{% endblock %}