{% extends '../base.html' %}
{% block content %}

    <!-- back to home -->
    <p><a href="{% url 'tweets' %}">Back</a></p>

    <p>Viewing Tweet #{{tweet.id}}.</p>

    <!-- the tweet -->
    {% include "tweets/tweet.html" %}

    <!-- comments retweets and likes -->

    <div class="tweet-buttons center">
        <!-- toggle comment box -->
        <button id="show-comment" class="comment" onclick="showForm()" title="Show comment box"><i class="fa-solid fa-comment"></i></button>

        <!-- retweet button -->
        <form action="" method="post">
            {%csrf_token%}
            <input value="{{request.path}}" name="path" hidden>
            <button type="submit" class="retweet" title="Retweet"><i class="fa-solid fa-retweet"></i></button>
        </form>

        <!-- like button -->
        <form action="{% url 'like' tweet.id %}" method="post">
            {%csrf_token%}
            <input value="{{request.path}}" name="path" hidden>
            <button type="submit" class="like" title="Like"><i class="fa-solid fa-heart"></i></button>
        </form>
    </div>
        <br>

    <div class="center comments">
        <!-- post comment form   -->
        <form action="{% url 'comment' tweet.id %}" method="post" id="comment-form" style="display:none;">
            {%csrf_token%}
            <input value="{{request.path}}" name="path" hidden>
            <input class="text-input width-100" type="text" id="comment-text" name="text" placeholder="Thoughts?" required>
            <button type="submit" class="main width-100" title="Post comment">Post comment</button>
        </form>


        ________
        <!-- view comments -->
        {% for comment in tweet.comment_set.all %}

            <div class="tweet comment-box">
                <p> <!-- name, handle, date -->
                    <strong>Angry Person</strong>
                    <small>@tinylittleman | {{ comment.date }}</small>
                </p>

                <!-- the comment -->
                <p>{{ comment }}</p>
            </div>
        ________

        {% endfor %}

        <!-- show message if no comments -->
        {% if tweet.comment_set.count <= 0 %}
            <p class="faded"> No comments found </p>
        {% endif %}

    </div>

    <!-- toggle comment box script -->
    <script>
        function resetDisplay(element) {
            element.style.display = "flex";
            element.style.justifyContent = "center";
            element.style.alignItems = "center";
            element.style.flexDirection = "column";
        }

        function showForm() {
            const form = document.getElementById("comment-form");
            if (form.style.display=="none") {
                resetDisplay(form);
            } else {
                form.style.display = "none";
            }
        }
    </script>

{% endblock %}