{% extends '../base.html' %}
{% block content %}

    <!-- back to home -->
    <a href="{% url 'tweets' %}">Back</a>

    <!-- the tweet -->
    {% include "tweets/tweet.html" %}

    <!-- comments retweets and likes -->

    <div class="tweet-buttons center">
        <!-- toggle comment box -->
        <button id="show-comment" class="comment" onclick="showForm()"><i class="fa-solid fa-comment"></i></button>

        <!-- retweet button -->
        <form action="" method="post">
            {%csrf_token%}
            <input value="{{request.path}}" name="path" hidden>
            <button type="submit" class="retweet"><i class="fa-solid fa-retweet"></i></button>
        </form>

        <!-- like button -->
        <form action="{% url 'like' tweet.id %}" method="post">
            {%csrf_token%}
            <input value="{{request.path}}" name="path" hidden>
            <button type="submit" class="like"><i class="fa-solid fa-heart"></i></button>
        </form>
    </div>
        <br>

    <div class="center comments">
        <!-- post comment form  -->
        <form action="{% url 'comment' tweet.id %}" method="post" id="comment-form" style="display:none;">
            {%csrf_token%}
            <input value="{{request.path}}" name="path" hidden>
            <input class="text-input" type="text" id="comment-text" name="text"></input>
            <button type="submit" class="comment">Post comment</button>
        </form>


        <!-- view comments -->
        {% for comment in tweet.comment_set.all %}
            <div class="tweet comment-box">
                <p> <!-- name, handle, date -->
                    <strong>Angry Person</strong>
                    <small>@tinylittleman | {{ comment.date }}</small>
                </p>

                <!-- the comment -->
                <p>{{ comment }}</p>
            </div>
        {% endfor %}

        <!-- show message if no comments -->
        {% if tweet.comment_set.count <= 0 %}
            <p> No comments found :( </p>
        {% endif %}

    </div>

    <!-- toggle comment box script -->
    <script>
        function showForm() {
            const form = document.getElementById("comment-form");
            if (form.style.display=="none") {
                form.style.display = "initial";
            } else {
                form.style.display = "none";
            }
        }
    </script>

{% endblock %}