/* general */
body {
    font-family: "Trebuchet MS", "Arial", sans-serif;
}

p a {
    color: mediumpurple;
    text-decoration: underline;
    opacity: 70%;
}

p a:hover {
    opacity: 40%;
    cursor: pointer;
}

p.subtitle {
    font-weight: bold;
}

p.faded {
    color: darkgrey;
}

h1 {
    font-family: "Garamond";
    font-size: 64px;
    font-weight: bold;
    margin: 30px;
}

@media (max-width: 1000px) {
  .content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1000px) {
  .content {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.center, form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.width-100, form {
    width: 100%;
}


/* navbar */
nav {
    padding: 10px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    background: lavender;
}

nav a:active {
    background: white;
}

button {
    background: white;
    color: black;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 20%;
}

button:hover {
    background: lavender;
    cursor: pointer;
}

button:active{
    background: white;
}

/* forms */

input {
    padding: 10px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    width: 50%;
    margin: 10px;
}


/* tweet */
small {
    color: darkgrey;
}

div.tweet-card a {
    color: black;
    text-decoration: none;
}

div.tweet-card {
    border: solid 1px grey;
    margin: 20px;
    /* top/bottom then left/right */
    padding: 5px 20px;
}

div.tweet-card:hover {
    opacity: 70%;
    cursor: pointer;
}

.tweet-buttons {
    flex-direction: row;
}

button.like, button#show-comment, button.retweet {
    min-width: 80px;
    max-width: 80px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    background: white;
    color: black;
    font-family: "Tahoma";
    opacity: 100%;
}

button.like:hover { background-color: rgb(255, 214, 214); }
button#show-comment:hover { background-color: rgb(195, 219, 255);}
button.retweet:hover { background-color: rgb(171, 255, 205);}

button.like:active, button#show-comment:active, button.retweet:active {
    opacity: 50%;
}