<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">

</head>
<body>

    <nav>
        <ul>
            <li><a href="{% url 'tweets' %}">Home</a></li>
            <li><a href="{% url 'tweets' %}">Explore</a></li>
            <li><a href="{% url 'tweets' %}">Settings</a></li>

            &emsp;
            {% if user.is_authenticated %}
                <l1><a href="{% url 'profile' %}">Profile</a></l1>
                 |
                <l1><a href="{% url 'signout' %}">Logout</a></l1>
            {% else %}
                <l1><a href="{% url 'signin' %}">Sign in</a></l1>
                 |
                <l1><a href="{% url 'signup' %}">Sign up</a></l1>
            {% endif %}

        </ul>

    </nav>

  <h1 class="title">{{ title }}</h1>

    <div class="content">
        {% block content %}
    </div>
  {% endblock %}

</body>
</html>