<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
</head>
<body>
    {% load static %}
    <script>
        function playClickSound() {
            const audio = new Audio("{% static 'click.mp3' %}");
            audio.play();
        }
    </script>

    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'index' %}">Explore</a></button></li>
            <li><a href="{% url 'index' %}">Settings</a></button></li>

            &emsp;

            {% if user.is_authenticated %}
                <l1><a href="{% url 'profile' %}">Profile</a></l1>
                 |
                <l1><a href="{% url 'signout' %}">Logout</a></l1>
            {% else %}
                <l1><a href="{% url 'signin' %}">Sign in</a></l1>
                 |
                <l1><a href="{% url 'signup' %}">Sign up</a></l1>
            {% endif %}
            <li></li>
        </ul>
    </nav>
  <h1>{{ title }}</h1>
  {% block content %}
  {% endblock %}
</body>
</html>