{% extends '../base.html' %}
{% block content %}

<p class="subtitle">{{user.profile.display_name}} <a href="{% url 'settings' %}">Edit</a></p>
<small>@{{user}}</small>

{% if user.profile.bio == "" %}
    <p class="faded">You haven't written a bio yet. <a href="{% url 'settings' %}">Edit</a></p>
{% else %}
    <p>{{user.profile.bio}} <a href="{% url 'settings' %}"><a href="{% url 'settings' %}">Edit</a></p>
{% endif %}


<small> <i class="fa-solid fa-calendar-days"></i> Joined {{ user.date_joined|date:"d M Y" }}</small>

<br>
______
<br>
<br>
<nav>
    <a id="profile-tweets" href="{% url 'profile' %}">Tweets</a>&emsp;&emsp;
    <a id="profile-comments" href="{% url 'profile_comments' %}">Comments</a>&emsp;&emsp;
    <a id="profile-likes" href="{% url 'profile_likes' %}">Likes</a>
</nav>


{% if request.path == '/users/profile/' %}
    <p class="faded">No tweets found</p>
    <style>#profile-tweets { background: whitesmoke } #profile-tweets:hover { background: white }</style>
{% elif request.path == '/users/profile/comments' %}
    <p class="faded">No comments found</p>
    <style>#profile-comments { background: whitesmoke } #profile-comments:hover { background: white }</style>
{% elif request.path == '/users/profile/likes' %}
    <p class="faded">No likes found</p>
    <style>#profile-likes { background: whitesmoke } #profile-likes:hover { background: white }</style>
{% endif %}



{% endblock %}