{% extends '../base.html' %}
{% block content %}

<p class="subtitle">{{user.profile.display_name}}
    {% if user.is_superuser %}
        <i title="Admin" class="fa-solid fa-shield-halved"></i>
    {% endif %}
    <a title="Settings" href="{% url 'settings' %}">Edit</a>
</p>
<small>@{{user}}</small>

{% if user.profile.bio == "" %}
    <p class="faded">You haven't written a bio yet. <a title="Settings" href="{% url 'settings' %}">Edit</a></p>
{% else %}
    <p>{{user.profile.bio}} <a title="Settings" href="{% url 'settings' %}">Edit</a></p>
{% endif %}

<p><small>
    <i class="fa-solid fa-calendar-days"></i> Joined {{ user.date_joined|date:"d M Y" }}
    &nbsp;&nbsp;
    {% if user.profile.location %}
        <i class="fa-solid fa-location-dot"></i> {{ user.profile.location }}
    {% else %}
        <i class="fa-solid fa-location-dot"></i> No location set
    {% endif %}
    <a href="{% url 'settings' %}" title="Settings" >Edit</a></p>
</small>

<p>
    <a class="follows-link" href="{% url 'followers' user.id%}">Followers: {{ user.profile.followers.count }}</a>
    &nbsp;&nbsp;
    <a class="follows-link" href="{% url 'following' user.id%}">Following: {{user.profile.following.count }}</a>
</p>

<p><a href="{% url 'profile_public' user.id %}">View public profile</a></p>
______</p>



<nav>
    <a id="profile-tweets" href="{% url 'profile' %}">Tweets</a>&emsp;&emsp;
    <a id="profile-comments" href="{% url 'profile_comments' %}">Comments</a>&emsp;&emsp;
    <a id="profile-likes" href="{% url 'profile_likes' %}">Likes</a>&emsp;&emsp;
    <a id="profile-retweets" href="{% url 'profile_retweets' %}">Retweets</a>
</nav>

<section class="center width-100">
    <br>
    <!-- TAB #1/DEFAULT - DISPLAY USER'S TWEETS -->
    {% if request.path == '/users/profile/' %}
        {% if user.tweet_set.count <= 0 %}
            <p class="faded">No tweets found</p>
        {% else %}
            {% for tweet in user.tweet_set.all %}
                {% include "tweets/tweet.html" %}
                <form action="{% url 'delete_tweet' tweet.id %}" method="POST">
                    {% csrf_token %}
                    <input hidden name="path" value="{{request.path}}">
                    <button class="link-button width-100 delete-button" type="submit" title="Delete Tweet">Delete this Tweet</button>
                </form>
                <br>
            {% endfor %}
        {% endif %}
        <style>#profile-tweets { background: whitesmoke } #profile-tweets:hover { background: white }</style>

    <!-- TAB #2 - DISPLAY USER'S COMMENTS -->
    {% elif request.path == '/users/profile/comments' %}
        {% if user.comment_set.count <= 0 %}
            <p class="faded">No comments found</p>
        {% else %}
            {% for comment in user.comment_set.all %}
                <br>
            <a class="comment-link" href="{% url 'tweet' comment.tweet.id %}">
                <p class="faded"><small><i class="fa-solid fa-comment"></i> replying to @{{comment.tweet.user}}</small></p>
                {% include "tweets/comment.html" %}
            </a>
                ______
            {% endfor %}
        {% endif %}
        <style>#profile-comments { background: whitesmoke } #profile-comments:hover { background: white }</style>

    <!-- TAB #3 - DISPLAY USER'S LIKES -->
    {% elif request.path == '/users/profile/likes' %}
        {% if user.likes.count <= 0 %}
            <p class="faded">No likes found</p>
        {% else %}
            {% for tweet in user.likes.all %}
                <small class="width-100" style="text-align: left"><i class="fa-solid fa-heart"></i> {{user.profile.display_name}} liked</small>
                {% include "tweets/tweet.html" %}
                <br>
            {% endfor %}
        {% endif %}
        <style>#profile-likes { background: whitesmoke } #profile-likes:hover { background: white }</style>

    <!-- TAB #4 - DISPLAY USER'S RETWEETS -->
    <!-- they should be merged into the first one but ohh well lmao -->
    {% elif request.path == '/users/profile/retweets' %}
        {% if user.retweet_set.count <= 0 %}
            <p class="faded">No retweets found</p>
        {% else %}
            {% for retweet in user.retweet_set.all %}
                <small class="width-100" style="text-align: left"><i class="fa-solid fa-retweet"></i> {{ user.profile.display_name }} retweeted {{ retweet.date }}</small>
                {% with tweet=retweet.tweet %}
                    {% include "tweets/tweet.html" %}
                {% endwith %}
                <br>
            {% endfor %}
        {% endif %}
        <style>#profile-retweets { background: whitesmoke } #profile-retweets:hover { background: white }</style>
    {% endif %}
</section>


{% endblock %}