{% extends '../base.html' %}
{% block content %}

<p>Sign in with an existing account. <a href="{% url 'signup' %}">Not signed up?</a></p>
<br>

<form action="{% url 'signin' %}" method="POST">
    {%csrf_token%}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Enter username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter password" required>
    <button type="submit">Sign in</button>
</form>

{%endblock%}