{% extends '../base.html' %}
{% block content %}

<p>Create a new account. <a href="{% url 'signin' %}">Already have one?</a></p>
<br>
<!-- display errors -->

{% if form.errors %}
<div class="center width-100">
    <ul class="error">
        {% for field_errors in form.errors.values %}
            {% for error in field_errors %}
                <li class="error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
<br>
{% endif %}


<!-- the sign in form -->
<form method="POST">
        {% csrf_token %}
        <label>Username</label>
        {{ form.username }}
        <br>
        <label>Email</label>
        {{ form.email }}
        <br>
        <label>Password</label>
        {{ form.password1 }}
        <br>
        <label>Confirm password</label>
        {{ form.password2 }}
        <br>
        <button type="submit">Sign up</button>
</form>
<br>
{%endblock%}