{% extends '../base.html' %}
{% block content %}
<!-- display name of user whose following/followers list is being viewed -->

{% if 'following' in request.path %}
    <p class="subtitle">
        Users
        <a href="{% url 'profile_public' user_p.id %}" class="profile-link">
            {{ user_p.profile.display_name }} (<small>@{{user_p}}</small>)
        </a>
        is following
    </p>
{% elif 'followers' in request.path %}
    <p class="subtitle">
        Users following
        <a href="{% url 'profile_public' user_p.id %}" class="profile-link">
            {{ user_p.profile.display_name }} (<small>@{{user_p}}</small>)
        </a>
    </p>
{% endif %}
<br><br>
    {% if user_list.count <= 0 %}
        <p class="faded">None found</p>
    {% else %}
        <div style="left">
        {% for this_user in user_list %}
            {% include "users/list_user.html" %}
            <br><br>
        {% endfor %}
        </div>
    {% endif %}

{% endblock %}
